<h1>Register page</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/name_reg" method="post">
    <table>
        <tr>
            <td>Nickname</td>
            <td><input type="text" name="nickname"></td>
        </tr>
        <tr>
            <td>Login</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Password retype</td>
            <td><input type="password" name="password2"></td>
        </tr>
        <tr>
            <td><a href="/name_log">Login</a></td>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>
