<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mas</title>
</head>
<body>
<div class="container mt-5">
    <h1>Все записи</h1>

    <table>
        <tr>
            <th>id</th>
            <th>nickname</th>
            <th>Link</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nickname }}</td>
            <td><a href="/names/{{ el.id }}">Подробнее</a></td>
            <td><a href="/names/{{ el.id }}/up">Редактировать</a></td>
            <td><a href="/names/{{ el.id }}/del">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>